<div class="table-wrapper">
  <table class="table table-hover mb-0">
      <thead>
          <tr>
            <th> </th>
            <th class="pointer"  *ngFor="let map of columnMaps" (click)="sort(map.primaryKey)">
                    <i class="fa" 
                    [ngClass]="{'fa-sort': column != map.primaryKey, 
                                'fa-sort-asc': (column == map.primaryKey && !isDesc), 
                                'fa-sort-desc': (column == map.primaryKey && isDesc) }"
                    aria-hidden="true"> </i>
                {{ map.header }}</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let record of records; let i = index;">
              <th>
                <input type="checkbox" id="{{i}}">
                <label for="{{i}}"></label>
              </th>
              <td *ngFor="let map of columnMaps"  
              [appStyleCell]="record[map.access(record)]">
                      {{ record[map.access(record)] | formatCell:map.format}}</td>
          </tr>
      </tbody>
  </table>
</div>
<div class="d-flex justify-content-between">
  <select class="mdb-select colorful-select dropdown-primary mt-2 hidden-md-down"> </select>
  <nav class="my-4"> </nav>
</div>