<form [formGroup]="form" class="row">
  <div *ngFor="let question of questions" class="col-xl-4 col-lg-6 col-md-12">
      <link-admin-dynamic-form [question]="question" [form]="form"></link-admin-dynamic-form>
  </div>
</form>