<div class="md-form" [ngSwitch]="question.controlType">
  <div *ngSwitchCase="'textbox'">
    <input type="text" id="question.key" name="question.key" mdbActive>
    <label for="question.key">{{question.label}}</label>
  </div>
  <div *ngSwitchCase="'dropdown'">
    <!-- <div class="row">
      <div class="col-md-6"> -->
        <mdb-select
          [options]="question.options">
        </mdb-select>
      <!-- </div>
    </div> -->
  </div>
</div>