<div>
    <!-- Tabset tabs -->
    <!-- <div class="row">
      <div class="col-3">
      </div>
      <div class="col-9">
          <div class="card">
            <div class="row row-margin-none" style="margin-left: 0px; margin-right: 0px">
              <div class="col-md-3">
                  <mdb-select
                    [options]="optionsSelectCustomers" 
                    placeholder="Select Customer">
                  </mdb-select>
              </div>
              <div class="col-md-3">
                  <mdb-select 
                  [options]="optionsSelectRoles" 
                  placeholder="Select Roles">
                  </mdb-select>
              </div>
              <div class="col-md-3">
                  <mdb-select
                    [options]="optionsSelectCountries" 
                    placeholder="Select Country">
                  </mdb-select>
              </div>
            </div>
            <div class="row row-margin-none">
                <link-admin-user-dynamic-form></link-admin-user-dynamic-form>
            </div>
          </div>
      </div>
    </div> -->

    <div class="table-ui mb-3 mx-4 p-2 mb-5">
        <link-admin-user-dynamic-form></link-admin-user-dynamic-form>
    </div>
    <div class="view gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
        <div>
            <button class="btn btn-outline-white btn-rounded btn-sm px-2">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <a class="white-text mx-3"> User Table </a>
        <div>
            <button class="btn btn-outline-white btn-rounded btn-sm px-2">
                <i class="fa fa-columns mt-0"> </i>
            </button>
            <button class="btn btn-outline-white btn-rounded btn-sm px-2" type="button">
                <i class="fa fa-pencil mt-0"> </i>
            </button>
            <button class="btn btn-outline-white btn-rounded btn-sm px-2" type="button">
                <i class="fa fa-remove mt-0"> </i>
            </button>
        </div>
    </div>
    <div class="px-4">
        <link-admin-dynamic-table
        [records]="listofUsers"
        [settings]="projectSettings">
       </link-admin-dynamic-table>
    </div>
  </div>