<div class="container">
  <div style="height: 100vh">
    <div class="flex-center flex-column">
      <h1 class="animated fadeIn mb-4">Material Design for Bootstrap (Angular)</h1>
    </div>
  </div>
</div>